replicaCount: 1

image:
  repository: ghcr.io/tmirage/voterr
  pullPolicy: IfNotPresent
  tag: ""

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations: {}
podSecurityContext:
  fsGroup: 1001

securityContext:
  runAsNonRoot: true
  runAsUser: 1001
  runAsGroup: 1001

service:
  type: ClusterIP
  port: 5056

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: voterr.local
      paths:
        - path: /
          pathType: Prefix
  tls: []

resources: {}

persistence:
  enabled: true
  storageClass: ""
  accessMode: ReadWriteOnce
  size: 1Gi
  existingClaim: ""

env:
  NODE_ENV: production
  TZ: Europe/Amsterdam

envSecrets:
  SESSION_SECRET: ""
  PLEX_URL: ""
  PLEX_TOKEN: ""
  TAUTULLI_URL: ""
  TAUTULLI_API_KEY: ""
  RADARR_URL: ""
  RADARR_API_KEY: ""

existingSecret: ""

nodeSelector: {}
tolerations: []
affinity: {}
